

  <div class="col-md-12 top-buffer profile-section">  
      <div class="col-md-5">
        <img class="col-md-12 image-css"src="{{person.image}}" alt="">
      </div> 
      <!--<p class="col-md-6 rows">  
        <span class="col-md-12"> {{person.name}}</span> 
        <span class="col-md-12">  
            <a class="" href="person.website"><i class="fa fa-twitter"></i>{{person.website}} </a>
        </span>
        <span class="col-md-12"> {{person.email}}</span> 
      </p>-->
      <div class="col-md-7">
          <div class="col-md-12"> 
            <span>{{person.name}}</span>
          </div>
          <div class="col-md-12"> 
            <i class="fa fa-twitter"></i> <span><a href="person.website">{{person.name}}</a></span> 
          </div>
          <div class="col-md-12"> 
           <i class="fa fa-inbox"></i> <span>{{person.email}}</span>
          </div>

      </div>
  </div>


