@import "_bootstrap-custom.scss";

body{
    color:black;
}

div{
    font-size: 14px;
}

.image-css{
    border:1px solid grey;
    padding:0px;
}

.profile-section{
    border:1px solid black;
    background-color: lightgray;
}
.profile-section img{
    border:3px solid black;
    margin-left:-15px;
    height:80px;
}

.top-buffer { margin-top:10px; }

.top-buffer-20 { margin-top:20px; }

.my-first-app{
    background-color: #DCDCDC;
    margin-top:3%;
    padding-bottom:20px;
    max-height:450px;
    overflow-y: auto;
}